*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box{
    width: 400px;
    height: 400px;
    background-color: seagreen;
    margin: 200px auto;
    padding: 10px;
    border: 4px solid grey;
    overflow: scroll;
    cursor: move;

}