---
---

<footer class="bg-indigo-800 text-white mx-auto">
    <div class="container mx-auto">
        <p class="text-center p-4">
            {new Date().getFullYear()} 
        </p>
    </div>
</footer>