---
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro";
import Section from "../../layouts/section.astro";
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout title="Service page">
  <Header />

  <Section>
    <h1 class="text-center text-[82px] text-green-600">Service</h1>
  </Section>

  <Footer />
</MainLayout>
