---

---

<header class="bg-indigo-600 text-white">
    <div class="container mx-auto">
       <nav class="flex justify-between items-center h-[80px]">
        <a href="#">AstroLog</a>
        <ul class="flex gap-x-6 items-center">
            <li><a href="/">Bosh sahifa</a></li>
            <li><a href="/posts">Postlar</a></li>
            <li><a href="/todos">Vazifalar</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
       </nav>
    </div>
</header>