---

---

<header class="bg-orange-600">
    <div class="container mx-auto">
        <nav class="flex justify-between items-center h-[70px]">

            <a href="#" class="text-white text-2xl">LOGO</a>

            <ul class="flex items-center gap-x-6">
                <li><a href="/" class="text-white hover:text-gray-800 duration-150">Home</a></li>
                <li><a href="/about" class="text-white hover:text-gray-800 duration-150">About</a></li>
                <li><a href="/service" class="text-white hover:text-gray-800 duration-150">Service</a></li>
                <li><a href="/contact" class="text-white hover:text-gray-800 duration-150">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
